body{
    background-color: rgb(114, 155, 155);
  }
  button{
    margin: -3% 1.8% 0px;
    font-size: 10px;
    width: 370px;
    height: 60px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .form-check{
    margin: 11px;
  }
  span.psw {
    float: right;
    margin-top: -7%;
    margin-right: 7%;
  }
  h2{
    text-align: center;
  }
  p{
    margin-left: 9%;
    text-align: left;
  }
  .container-fluid{
    height: 420px;
    width: 30%;
    border-radius: 3%;
    border: 1px solid #000;
    margin: 110px 35% 0px;
    background-color: rgb(255, 255, 255);
  }
  .ENVIA:hover{
    color: white;
   }
   .ENVIAR{
     color: white;
     text-decoration: none;
   }
  @media screen and (max-width: 1280px) {
    .container-fluid{
      height: 400px;
      width: 75%;
      border-radius: 3%;
      border: 1px solid #000;
      margin: 90px 13% 0px;
    }
    button{
      margin: -3% 1.8% 0px;
      font-size: 10px;
      width: 340px;
      height: 50px;
  }
  .form-check{
    margin: 0px 5px;
  }
  span.psw {
    float: right;
    margin-top: -5%;
    margin-right: 7%;
  }
  }
  
  
  @media screen and (max-width: 980px) {
    .container-fluid{
      height: 400px;
      width: 75%;
      border-radius: 3%;
      border: 1px solid #000;
      margin: 90px 13% 0px;
    }
    button{
      margin: -3% 1.8% 0px;
      font-size: 10px;
      width: 340px;
      height: 50px;
  }
  .form-check{
    margin: 0px 5px;
  }
  }
  
  @media screen and (max-width: 520px) {
    .container-fluid{
      height: 400px;
      width: 75%;
      border-radius: 3%;
      border: 1px solid #000;
      margin: 90px 13% 0px;
    }
    button{
      margin: -3% 1.8% 0px;
      font-size: 10px;
      width: 340px;
      height: 50px;
  }
  .form-check{
    margin: -12px 1px;
  }
  span.psw {
    float: right;
    margin-top: -7%;
    margin-right: 7%;
  }
  }
  
  @media screen and (max-width: 360px) {
    main {
      background-color: var(--bs-warning);
    }
  }